body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 1.75;
  color: #40514E;
  height: 100%

}

h1 {
  font-size: 5.2rem;
  font-weight: normal;
  margin: 0 auto 0 auto;
  padding-top: 100px;
  font-family: 'Sacramento', cursive;
  color: black;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0 10px auto auto;
  color: #34a1eb;
  padding-bottom: 10px
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #42cef5;
}

hr{
border: dotted #EAF6F6 6px;
border-bottom: none;
width: 8%;
margin: 30px auto;
}
p{
  color: black;
  line-height: 2;
}

a{
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  }

a:hover{
  color: #EAF6F6
}

.Dominic{
  padding-top: 50px;
  padding-right: 900px;
  position: static;
  color: #A9333A
}
.bus-stop{
  color: blue;
  background-image:url(../images/Bus-stop-background.png);
  width:100%;
  height: 100%;
  padding-bottom: 100px;

}
.proagrammer{
  color: #A9333A;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: 375px;


}

.top-container {
  background-color: inherit;

}

.middle-container {
  color: #11999E;
}

.bottom-container {
  background-color: #42cef5;
  padding: 50px 0 20px;
  margin: 70px auto auto;
}

.pro {
  text-decoration: underline;
}


.lego-computer {
  width: 30%;
  float: left;
  padding-right: 40px;
}

.skateboard {
  width: 30%;
  float: right;
}

.profile-pic {
  margin: 50px auto 30px auto;
  width: 200px;
  border-radius: 50%;


}

.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
}
.skillz{
  margin-top: 20px;
}
.building{
  text-align: left;
}

.skateboarding{
  text-align: left;
}

.contact-me{
  margin: 10px auto auto auto;
  text-align: center;
}
.love{
  text-align: left;
  margin: auto auto 100px auto;

}
.great{
  text-align: left;
}
.Im-Dominic{
  margin: 0 0 0 0
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199E);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199E);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199E);
  background-image: -o-linear-gradient(top, #11cdd4, #1199E);
  background-image: linear-gradient(to bottom, #11cdd4, #1199E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
